<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'di' => array(
        'instance' => array(
            'Opg\Infrastructure\MongoConnectionProvider' => array(
                'parameters' => array(
                    /* leave blank if not using replica sets */
                    'replicaSetName'     => {% if pillar.mongodb.rs %}'{{pillar.mongodb.rs}}'{% else %}''{% endif %},
                    /* replica sets - hosts and corresponding ports in arrays */
                    'dataSourceHostArray' => array(
                        {%- for server, port in pillar.mongodb.databases[appslug]['servers'].iteritems() -%}
                            '{{server}}'{% if not loop.last %},{% endif %}
                        {%- endfor -%}),
                    'dataSourcePortArray' => array(
                        {%- for server, port in pillar.mongodb.databases[appslug]['servers'].iteritems() -%}
                            '{{port}}'{% if not loop.last %},{% endif %}
                        {%- endfor -%}),
                    'dataSourceUsername'  => '{{pillar.mongodb.databases[appslug]['user']}}',
                    'dataSourcePassword'  => '{{pillar.mongodb.databases[appslug]['password']}}',
                    'dataSourceDatabase'  => '{{pillar.mongodb.databases[appslug]['dbname']}}',
                    'connectTimeoutMillis' => 1000,
                    'maxConnectAttempts' => 30,
                ),
            ),
            'Opg\Infrastructure\SentryLog' => array(
                'parameters' => array(
                    'sentryUri'     => '{{pillar['opg-lpa']['sentry']['api-uri']}}',
                ),
            ),
        ),
    ),
    'authenticationServerBaseUri' => '{{pillar['opg-lpa']['opg-lpa-auth']['uri']}}',
    'authenticationServerHttpTimeoutSeconds' => {{pillar['rest-timeout']}},
    'worldpayTokenSecret' => "{{pillar['payment']['worldpay']['api_token_secret']}}",
    'log' => array(
        'path' => '{{pillar.apps['opg-lpa-api']['log-dir']}}'
    ),
);

